[user]
  name = Nat Ritmeyer
  email = 217265+natritmeyer@users.noreply.github.com
  signingkey = DF5A4DC9CCAFC6D8

[core]
  editor = vim

[gpg]
  program = gpg
  format = openpgp

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[init]
	defaultBranch = main

[safe]
  directory = *

[diff]
	algorithm = histogram

[pull]
  ff = only

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[tag]
	sort = version:refname

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
