[user]
  name = Nat Ritmeyer
  email = 217265+natritmeyer@users.noreply.github.com
  signingkey = DF5A4DC9CCAFC6D8

[core]
  editor = vim
  pager = delta

[gpg]
  program = gpg
  format = openpgp

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true

[merge]
  conflictStyle = zdiff3

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[init]
  defaultBranch = main

[safe]
  directory = *

[diff]
  algorithm = histogram

[pull]
  ff = only

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[help]
  autoCorrect = never

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
