[user]
  name = Nat Ritmeyer
  email = 217265+natritmeyer@users.noreply.github.com
  signingkey = DF5A4DC9CCAFC6D8

[core]
  editor = nvim
  pager = delta
  excludeFile = ~/.config/git/ignore

[gpg]
  program = gpg
  format = openpgp

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true
  line-numbers = true

[merge]
  conflictStyle = zdiff3

[commit]
  gpgsign = true

[tag]
  gpgsign = true
  sort = version:refname

[init]
  defaultBranch = main

[diff]
  algorithm = histogram
  colorMoved = default

[fetch]
  prune = true
  pruneTags = true

[pull]
  ff = only

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[branch]
  sort = -committerdate

[help]
  autoCorrect = never

[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
