# References:
# POSIX.1-2024/IEEE Std 1003.1-2024 (https://pubs.opengroup.org/onlinepubs/9799919799/)
# Google Java Style (https://checkstyle.sourceforge.io/google_style.html)

root = true

[*]
# POSIX.1-2024, Section 5
end_of_line = lf
# POSIX.1-2024, Section 3.185 (not just because git complains otherwise!)
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.md]
# Markdown uses trailing spaces for line breaks, so we disable trimming here.
trim_trailing_whitespace = false

# Google Java Style
[*.java]
indent_size = 2
indent_style = space
continuation_indent_size = 4

[*.json]
indent_size = 2
indent_style = space
